*.mat
*.pptx
*.rtf
*.jpg
*.png
*.ps
*.pdf
*.tiff
*.zip
*.tif
*.tsv
*.xlsx
*.xls
ExperimentalResults/
stimuli/
various/
results/
html/
manuscript/
results_original/
other_people_code/
face_similarity_paper/
collaboration_with_Kate/
figures/
figures_original_more_recent/
results_original_more_recent/
figures_original/
organisation/
data/
Icon
.idea/

